<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
  </head>
  <body>
    <h1>Add post for {{user.full_name}}</h1>

    <form method="POST">
      <div>
        <label for="title">Title</label>
        <input id="title" name="title" />
      </div>

      <div>
        <label for="content">Content</label>
        <textarea name="content" id="content"></textarea>
      </div>

      <div>
        <a href="/users/{{user.id}}"><button>Cancel</button></a>
        <button type="submit">Add</button>
      </div>
    </form>
  </body>
</html>
